body {
	color: white;
	background: black;
	font-size: Large;

	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: cyan;
}

h2 {
	color: green;
}

h1, h2 {
	text-align: center;
}

a {
	color: red;
}

img {
	width: 800px;
}
